extends layout

block content
  .back-home
    a(href="/")
      img(src="/images/arrow-back-128.png")
      p home

  .our-team-page
    section.partners
      h1 Partners
      article#michaelbeck
        .row
          .team-picture.columns.six
            img(src="/images/team/michaelbeck.jpg")
          .team-info.columns.six
            h3.team-name Michael Beck
            p.team-title Partner/General Manager
            p.team-addiction
              em Addictions: Tiff's Treats
            p.quote “Be the Change you wish to see in the world” - Gandhi
            p.bio Michael's years of experience in education and management has made him a great leader that takes great pride in the salon. “During consultations, it is most important to pay close attention to what a client has to say, in order to create the best look” – Michael says, always making each and every client a priority. His precision and skill keep his haircuts timeless, effortless to style and well planned.
      article#romanbecerra
        .row
          .team-picture.columns.six
            img(src="/images/team/romanbecerra.jpg")
          .team-info.columns.six
            h3.team-name Roman becerra
            p.team-title Partner/Salon Director
            p.team-addiction
              em bsessions: Kansas City Chiefs & ultimate KC Royal's Fan / Mountain Biking
            p.quote “I feel like I introduce another level of my creative ability on every haircut”
            p.bio Roman first mentored and was inspired by his father Alfredo Becerra and his family. Born and raised in Kansas City, Missouri, it has been his lifelong passion to carry on this legacy. With over sixteen years’ experience in leading education, traveling both domestically and abroad, educating on and off stage, his brilliant demeanor and professionalism combined with his genuine love for hair makes him an absolute necessity. Leading the salon in education his meticulous approach to each and every haircut covers all fashion trends from classy chic to creating the next hottest trend.
      article#gabrielontiverros
        .row
          .team-picture.columns.six
            img(src="/images/team/gabrielontiverros.jpg")
          .team-info.columns.six
            h3.team-name Gabriel Ontiverros
            p.team-title Partner/Chemical Director
            p.team-addiction
              em Hobbies outside of the salon: Jiujitsu Enthusiast
            p.quote “My approach to life is never let success get to your head and never let failure get to your heart”
            p.bio 
            | Gabriel’s vast experience with salons and Toni & Guy academies nationwide inspired himself and his partners to open the first essensuals London in TX. <br><br>
            | His journey began in 1996 years as a colourist, while later becoming more involved with education, management & leading artistic direction nationwide to many top professionals from Dallas and across the country. Gabriel and his partners carefully chose their staff upon continued education & elite talent. Mr. Ontiveros has been all over the world educating & creating classic to fashion forward hair colour techniques.
    section.stylists
      h1 Stylists
      article#diannebecerra
        .row
          .team-picture.columns.six
            img(src="/images/team/diannegomez.jpg")
          .team-info.columns.six
            h3.team-name Dianne becerra
            p.team-title Creative Artistic Director | Label.m Ambassador | PR Director & Event Coordinator
            p.team-addiction
              em Addictions: Chocolate
            p.quote “I’ve learned that people will forget what you said, people will forget what you did, but people will never forget how you made them feel” – Maya Angelou
            p.bio Dianne is truly amazing. Married to Roman Becerra she works closely with all three owners to keep the salon running smoothly. She coordinates events, weddings, photoshoots, & manages.  She motivates our team to get involved in local events, fashion shows, and advanced education, to name a few. Dianne boasts over 15 years of hairdressing experience including leading salon education classes for stylists. Her passion for backstage work in photo shoots, fashion shows, weddings, and charities allows her to release her creativity while diligently enjoying her career.
      article#claudiarodas
        .row
          .team-picture.columns.six
            img(src="/images/team/claudiarodas.jpg")
          .team-info.columns.six
            h3.team-name Claudia Rodas
            p.team-title Artistic Director IV | Lead Stylist Educator
            p.team-addiction
              em Favorite Past Time: attending hair shows to find her muse
            p.quote “In living my life in the most simplest way has blessed me with the grandest satisfactions”
            p.bio Claudia began her journey in hairdressing in 2001, where she then found her passion and strong skillset for the art of styling and finishing hair. Originally from Honduras, she represents a strong international presence. Her fun outgoing spirit makes for a memorable experience for anyone that meets her. Claudia's passion for hair shines through both in the salon and doing Runway Shows, Photography shoots and mentor to upcoming stylist and fellow co-workers in education and motivation.
      article#chelseasica
        .row
          .team-picture.columns.six
            img(src="/images/team/chelseasica.jpg")
          .team-info.columns.six
            h3.team-name Chelsea Sica
            p.team-title Art Director III
            p.team-addiction
              em Weakness: Nerding out on math and science books <br> Addiction: Yoga
            //- p.quote
            p.bio Chelsea is an innovative and classy lady with  a vast thirst for knowledge. Since 2005 when she began doing hair, Chelsea had bigger ambitions to do more within the salon.  Always pushing herself to rise above and beyond,  she has recently been promoted to join the Main Stage Creative Team at Essensuals London. Each season she is responsiblefor learning the latest braiding and styling varieties from London Fashion Week and ensures our staff is trained in every style we offer within the Braid Boutique.
      article#erinteague
        .row
          .team-picture.columns.six
            img(src="/images/team/erinteague.jpg")
          .team-info.columns.six
            h3.team-name Erin Teague
            p.team-title Artistic Director II
            p.team-addiction
              em Addictions: Pinterest
            p.quote "Take your dreams seriously."
            p.bio Erin is a sweet country girl with a rock & roll soul! Wife and mother of a sweet boy she enjoys a healthy lifestyle and fitness. She has been a stylist for sixteen years and enjoys filling all her clients in on the latest in fashion trends. She specializes in styling, and enjoys all aspects of hair, from classic to edgy. She looks forward to meeting & accepts new clients.
    section.techs
      h1 Techs
      article#tamarachan
        .row
          .team-picture.columns.six
            img(src="/images/team/tamarachan.jpg")
          .team-info.columns.six
            h3.team-name Tamara Chan
            p.team-title Premiere Stylist
            p.team-addiction
              em Life outside of essensuals London: Tennis Mom to her daugheter, traveling for competitions, and spending time with family
            p.quote “For I know the plans I have for you,’ declares the Lord, ‘plans to prosper you and not harm you, plans to give you hope and a future.” Jeremiah 29:11
            p.bio Tamara knew she wanted to do hair from the time she was seven, constantly begging her mom’s friend for some time so she could brush her long locks. With over 20 years of experience, Tamara brings both technical excellence and a passion for hair colour to every client that sits in her chair. It is not only her extensive professional experience that sets her apart, but her genuine enthusiasm for her career. “I am so blessed to be able to work and do what I love to do. This is truly my calling," says Chan. Positivity, leadership, and a motivational attitude attribute to her success and she says, “I bring them to work everyday.” Tamara strives to invoke confidence within every client and whatever a client brings to her chair, they will always leave happy and satisfied.
      article#ambersmith
        .row
          .team-picture.columns.six
            img(src="/images/team/ambersmith.jpg")
          .team-info.columns.six
            h3.team-name Amber Smith
            p.team-title Technical Artistic Director
            p.team-addiction
              em Weakness: Nordstroms & Puppies
            p.quote "Your life may not be perfect but your hair can be."
            p.bio Passion and determination is what drives Amber to be the best in her expertise of color. As a former dance instructor to nearby studio in Plano, she has a perfect balance and structure that caters to her client’s needs. When she isn’t at the salon creating seamless and classic highlights, she enjoys cheering on the Dallas Stars hockey team at home games and spoiling her soft wheaton terrier at the dog park.
      article#nikkidealba
        .row
          .team-picture.columns.six
            img(src="/images/team/nikkidealba.jpg")
          .team-info.columns.six
            h3.team-name Nikki De Alba
            p.team-title Premiere Tech
            p.team-addiction
              em Weakness: Pinterest
            p.quote "I refuse to be the girl who didn't pursue her passions because she didn't have enough belief in herself."
            p.bio Married with four beautiful children, Nikki has been in the colour industry for three years. She has an incredible thirst for knowledge and is always up to date on the latest trends. Specializing in balayage, and blondes. Her creativity and drive for the next big trend is always on point. She welcomes new clients, and prides herself in giving each client her undivided attention and the best in customer service, while individualizing each service to her client.
      article#ashleybannecker
        .row
          .team-picture.columns.six
            img(src="/images/team/ashleyray.jpg")
          .team-info.columns.six
            h3.team-name Ashley Bannecker
            p.team-title Premiere Tech
            p.team-addiction
              em Obsession: cooking
            p.quote "Attitude is everything"
            p.bio As the very first essensuals London apprentice in the U.S. she began her career with us six years ago. She is certified in Balayage, and has a deep passion for learning new techniques and trends. She welcomes new clients and is eager to customize each service to you.
    section.makeupartists
      h1 Makeup Artists
      article#cherhukill
        .row
          .team-picture.columns.six
            img(src="/images/team/cherhukill.jpg")
          .team-info.columns.six
            h3.team-name Cher Hukill
            p.team-title Lead Makeup Artist
            p.team-addiction
              em 
                a(href="http://www.makeupartistrybycher.com/") makeupartistrybycher.com
            p.quote "I truly believe my passion for art shows through my work. I try to make sure that no one ever comes to me without leaving better and happier. I think that's because I find great joy in reminding those of the soulful beauty within. I try to live by the words "Be the living expression of God's kindness: in your face, in your eyes, and smile."
            p.bio 
            | As a professional makeup artist and hairstylist, Cher has had the pleasure of working on many runways, movie sets & commercials with famed stars. Some of her work has been published in the U.S. and also internationally in magazines like Men's Fitness Magazine, Self Magazine, D Magazine, Modern Luxury Magazine, FD Luxe, People Magazine, Forbes Magazine, Lady Gunn Magazine, Vogue Italia online, and No Cigar London to name a few. Clients have included JC Penney's, Gatorade, Belk, & Stanley Korshak/ Stanley Korshak Bridal Salon. Her work has been seen on Fox Sports Southwest, Style Networks Big Rich Texas, Starz Network’s Magic City, Commercials for the AAC and Dallas Mavericks, Biore, Geoffrey Ballet, & MSNBC. <br><br>
            | Cher is currently the Key makeup artist and hairstylist for season 1 of The Real Housewives of Dallas, airing on BravoTv.  Originally from Southern California, she is available for direct booking in Southern Ca., San Francisco, and NY City, as well as being available for travel world wide. <br><br>
            | As a strong believer in encouraging our youth to explore their artistic talents, promoting positive self-image & individuality, Cher takes pride in volunteering in elementary art classes and speaking publicly to local young women and men.
      article#lorannschlinder
        .row
          .team-picture.columns.six
            img(src="/images/team/lorannschlinder.jpg")
          .team-info.columns.six
            h3.team-name Lorann Schlinder
            p.team-title Freelance Makeup Artist
            //- p.team-addiction
            //-   em 
            //- p.quote
            p.bio Makeup has been a life long passion for Lorann Schindler. She began working at the age of eleven with her local theatre department, and booked her first client three years later. Lorann received a BFA in Fine Arts and feels her background in art gives her a leg up in the world of makeup artistry. She is highly trained in color mixing, design principals, light theory, and more. She also attended the Makeup Training Academy to better hone in on her craft. Lorann has now been freelancing full time since 2011. She has work on many photoshoots, runway shows, and TV commercial and movie sets. Even spending a year working at KTXD-TV as a makeup artist for Texas Living/D Living, The Texas Daily and D; The Broadcast
